﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View.ascx.cs" Inherits="Christoc.Modules.Tarkett_Locator.View" %>
<asp:Repeater ID="rptItemList" runat="server" OnItemDataBound="rptItemListOnItemDataBound" OnItemCommand="rptItemListOnItemCommand">
    <HeaderTemplate>
        <ul class="tm_tl" style="display: none;">
    </HeaderTemplate>

    <ItemTemplate>
        <li class="tm_t">
            <h3>
                <asp:Label ID="lblitemName" runat="server" Text='<%#DataBinder.Eval(Container.DataItem,"ItemName").ToString() %>' />
            </h3>
            <asp:Label ID="lblItemDescription" runat="server" Text='<%#DataBinder.Eval(Container.DataItem,"ItemDescription").ToString() %>' CssClass="tm_td" />

            <asp:Panel ID="pnlAdmin" runat="server" Visible="false">
                <asp:HyperLink ID="lnkEdit" runat="server" ResourceKey="EditItem.Text" Visible="false" Enabled="false" />
                <asp:LinkButton ID="lnkDelete" runat="server" ResourceKey="DeleteItem.Text" Visible="false" Enabled="false" CommandName="Delete" />
            </asp:Panel>
        </li>
    </ItemTemplate>
    <FooterTemplate>
        </ul>
    </FooterTemplate>
</asp:Repeater>

    <div class='navbar navbar-default navbar-static-top'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class='navbar-brand' href='index.html'>TarkettNA Retailer Locations</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class='active'><a href="#" data-toggle="modal" data-target="#myModal">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class='container-fluid'>
	  <div class="row">
	    <div class="col-md-3">
		    <h4>Address <small>(<a id='find_me' href='#'>find me</a>)</small></h4>
            <p><input class='form-control' id='search_address' placeholder='Enter an address or an intersection' type='text' /></p>
            <p>
              <label>
                within
                <select id='search_radius'>
                  <option value='805'>1/2 mile</option>
                  <option value='1610'>1 mile</option>
                  <option value='8050'>5 miles</option>
                  <option value='16100'>10 miles</option>
                  <option value='40250'>25 miles</option>
                  <option value='80500'>50 miles</option>
                  <option value='161000'>100 miles</option>
                </select>
              </label>
            </p>
		</div>
		<div class="col-md-3">
			<h4>Retailer Name</h4>
			<input class='form-control' id='text_search' placeholder="Enter a retailer name to narrow your search" type='text' />
		</div>
		<div class="col-md-3">
			<h4>Products Offered</h4>
			<select id='select_type' class="form-control">
				<option value=''>Select product to narrow your search</option>
				<option value='FIBERFLOOR'>FiberFloor</option>
				<option value='LAMINATE'>Laminate</option>
				<option value='LUXURY'>Luxury Tile</option>
				<option value='VINYL'>Vinyl</option>
			</select>
		</div>
		<div class="col-md-3">
			<h4>&nbsp;</h4>
            <a class='btn btn-primary' id='search' href='#'>
              <i class='glyphicon glyphicon-search'></i>
              Search
            </a>
            <a class='btn btn-default' id='reset' href='#'>
              <i class='glyphicon glyphicon-repeat'></i>
              Reset
            </a>
		</div>		
	  </div>
	  <div class="row">
		<div class="col-md-9">
			<div class='alert alert-info' id='result_box' ><strong id='result_count'></strong></div>
		</div>
		<div class="col-md-3">
			<ul class="maptype">
				<li class="blue_square"><strong>Tarkett Elite Retailers</strong></li>
				<li class="green_square"><strong>Tarkett Retailers</strong></li>
			</ul>
		</div>
	  </div>
      <div class='row'>
        <div class='col-md-6'>
          <noscript>
            <div class='alert alert-info'>
              <h4>Your JavaScript is disabled</h4>
              <p>Please enable JavaScript to view the map.</p>
            </div>
          </noscript>
          <div id='map_canvas'></div>
          <p class='pull-right'></p>
        </div>
		<div class='col-md-6'>
			<div id='results_list'></div>
		</div>
      </div>
	  <div class='well'>
		
	  </div>
    </div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Retailer Locator Help</h4>
		  </div>
		  <div class="modal-body">
		   <p>Enter an address or location (zip code, intersection) in the Address box. </p>
		   
		   <p>Click find me to populate the search box with your current location (if your browser prompts you for location click 'Allow').</p>
		   
		   <p>If too few locations are found, try increasing the search radius. Selections start at 1/2 mile to 100 miles.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>

    <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.address.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&v=3.14"></script>
    <script type="text/javascript" src="/assets/js/jquery.geocomplete.min.js"></script>
    <script type="text/javascript" src="/assets/js/maps_lib.js"></script>
    <script type='text/javascript'>
        //<![CDATA[
        $(window).resize(function () {
            var h = $(window).height(),
              offsetTop = 105; // Calculate the top offset

            $('#map_canvas').css('height', (h - offsetTop));
        }).resize();

        $(function () {
            MapsLib.initialize();
            $("#search_address").geocomplete();

            $(':checkbox').click(function () {
                MapsLib.doSearch();
            });

            $(':radio').click(function () {
                MapsLib.doSearch();
            });

            $('#search_radius').change(function () {
                MapsLib.doSearch();
            });

            $('#search').click(function () {
                MapsLib.doSearch();
            });

            $('#find_me').click(function () {
                MapsLib.findMe();
                return false;
            });

            $('#reset').click(function () {
                $.address.parameter('address', '');
                MapsLib.initialize();
                return false;
            });

            $(":text").keydown(function (e) {
                var key = e.keyCode ? e.keyCode : e.which;
                if (key == 13) {
                    $('#search').click();
                    return false;
                }
            });
        });
        //]]>
    </script>
